</section>
<section class="parallax-container">
  <div class="parallax">
    <img src="/images/CF-1.jpg" alt="" class="lp-front-img">
    <div class="motivation valign-wrapper">
      <h4 class="valign">“MOTIVACIÓN, ATENCIÓN Y CONCENTRACIÓN COMO HERRAMIENTA VITAL”</h4>
    </div>
  </div>
</section>
<section>
  <div class="section red">
    <div class="row container">
      <h2 class="header">¿What is CrossFit?</h2>
      <p>CrossFit is a fitness regimen developed by Greg Glassman over several decades. Glassman, CrossFit's Founder and CEO, was the first person in history to define fitness in a meaningful, measurable way: increased work capacity across broad time and modal domains. He then created a program specifically designed to improve fitness and health.</p>
      <p>CrossFit is constantly varied functional movements performed at high intensity. All CrossFit workouts are based on functional movements, and these movements reflect the best aspects of gymnastics, weightlifting, running, rowing and more. These are the core movements of life. They move the largest loads the longest distances, so they are ideal for maximizing the amount of work done in the shortest time. Intensity is essential for results and is measurable as work divided by time—or power. The more work you do in less time, or the higher the power output, the more intense the effort. By employing a constantly varied approach to training, functional movements and intensity lead to dramatic gains in fitness.</p>
      <p>The community that spontaneously arises when people do these workouts together is a key component of why CrossFit is so effective, and it gave birth to a global network of CrossFit affiliates that number over 13,000. Harnessing the natural camaraderie, competition and fun of sport or game yields an intensity that cannot be matched by other means.</p>
      <p>The CrossFit program is driven by data. Using whiteboards as scoreboards, keeping accurate scores and records, running a clock, and precisely defining the rules and standards for performance, we not only motivate unprecedented output but derive both relative and absolute metrics at every workout. This data has important value well beyond motivation.</p>
      <p>Overall, the aim of CrossFit is to forge a broad, general and inclusive fitness supported by measurable, observable and repeatable results. The program prepares trainees for any physical contingency—not only for the unknown but for the unknowable, too. Our specialty is not specializing.</p>
      <p>While CrossFit challenges the world's fittest, the program is designed for universal scalability, making it the perfect application for any committed individual, regardless of experience. We scale load and intensity; we don’t change the program. The needs of Olympic athletes and our grandparents differ by degree, not kind.</p>
      <p>For more information we suggest reading What is Fitness, The Garage Gym, and Foundations.</p>
    </div>
  </div>
</section>
<section class="parallax-container">
  <div class="parallax">
    <img src="/images/CF-1.jpg" alt="" class="lp-front-img">
    <div class="motivation valign-wrapper">
      <h4 class="valign">“MOTIVACIÓN, ATENCIÓN Y CONCENTRACIÓN COMO HERRAMIENTA VITAL”</h4>
    </div>
  </div>
</section>
<footer>
  
</footer>