<section id="lp-front" class="fullwith">
	<div class="container relative">
		<img src="/images/CF-1.jpg" alt="" class="lp-front-img">
		<h6 class="motivation">
			“MOTIVACIÓN, ATENCIÓN Y CONCENTRACIÓN COMO HERRAMIENTA VITAL”
		</h6>
	</div>
</section>