<section id="lp-front" class="fullwith">
	<div class="container relative">
		<img src="/images/CF-1.jpg" alt="" class="lp-front-img">
		<div class="motivation">
			<h4>
			“MOTIVACIÓN, ATENCIÓN Y CONCENTRACIÓN COMO HERRAMIENTA VITAL”
			</h4>
			<p>Ven y entrena con nosotros!</p>
		</div>

	</div>
</section>