<section class="parallax-container">
  <div class="parallax">
    <img src="/images/CF-1.jpg" alt="" class="">
    <div class="motivation valign-wrapper">
      <div class="valign">
        <div class="row">
          <h1 id="logo">B<span class="red-text text-accent-4">O</span>XED</h1>
        </div>
        <div class="row">
          <h4>“<span id="green">GESTOR</span> DE <span id="yellow">RESERVAS</span> PARA <span id="orange">GIMNASIOS</span> DE CLASES GRUPALES”</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="para2" class="parallax-container">
  <div class="parallax">
    <img src="/images/middle.jpg" alt="" class="">
    <div class="row">
      <div id="middle-section"  class="row container">
        <div class="col s8 offset-s2">
          <h2 class="header">¿What is <span id="logo-styling">B<span class="red-text">O</span>XED</span>?</h2>
        </div>
      </div>
      <div id="exp" class="row container white-text">
        <div class="col s5 offset-s1">
          <p class="flow-text right-align text-p italic sep-x"><b>BOXED</b> es una aplicación para gestionar las reservas de los gimnasios de clases colectivas.</p>
          <p class="flow-text right-align text-p italic sep-x italic">El usuario además podrá llevar un seguimiento de su trabajo con el apartado <b>MY TRACKER</b></p>
        </div>
        <div id="reser" class="col s4 offset-s1 sep-x">
         
        </div>
      </div>
    </div>
  </div>
</section>
<section id="para3" class="parallax-container">
  <div id="innerparal" class="parallax">
    <img src="/images/6.jpg" alt="" class="">
    <div class="container row">
      <div id="up" class="col s12">
        <h1 id="logo">B<span class="red-text text-accent-4">O</span>XED</h1>
      </div>
    </div>
  </div>
</section>
<footer>
  
  <% if user_signed_in? -%>
    <ul">
      <li><%= link_to 'Account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    </ul>
  <% else -%>
    <p><%= link_to 'Admin login', new_user_session_path %></p>
  <% end -%>

</footer>