<section class="fullwidth trainclass">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <h3>My fit tracker</h3>

			<div id="form">
				<%= render "my_fit_trackers/form" %>
			</div>
	</div>
	<div class="container row">
		<div class="col s10 offset-s1">
			<div id="tracks">
				<%= render "my_fit_tracker" %>
			</div>
		</div>
	</div>
</section>