<section class="fullwidth trainclass">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <h3 id="logo-styling">My f<span class="red-text">i</span>t tracker</h3>

			<div id="form">
				<%= render "my_fit_trackers/form" %>
			</div>
	</div>
	<div class="container row">
		<div class="input-field col s8 offset-s2">
      <p class="flow-text">Select your exercise list from Autocomplete</p>
    </div>
  </div>
  <div class="container row">
		<div class="col s10 offset-s1">
			<div id="tracks">
				<%= render "my_fit_tracker" %>
			</div>
		</div>
	</div>
</section>