<div class="row">
  <div class="col s10 offset-s1">
    <div class="row white">
      <div class="input-field col s6 grey-text text-darken-4">
        <i class="material-icons prefix red-text">textsms</i>
        <input type="text" id="exercise" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
      <div class="input-field col s3 grey-text text-darken-4">
        <i class="material-icons prefix red-text">label_outline</i>
        <input type="text" id="value" class="">
        <label for="value">Value</label>
      </div>
      <div class="input-field col s3 grey-text text-darken-4">
        <i class="material-icons prefix red-text">settings</i>
        <input type="text" id="um" class="">
        <label for="um">Measure unit</label>
      </div>
    </div>
    <div class="row white">
      <div class="input-field col s12 grey-text text-darken-4">
        <i class="material-icons prefix red-text">settings_applications</i>
        <div class="col s10 offset-s1">
          <select id="exercise_type">
            <option value="" disabled selected>Choose your option</option>
            <option value="Strength">Strength</option>
            <option value="Resistance">Resistance</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
    </div>
    
    <button id="submit" data-user-id="<%= current_user.id %>" class="btn waves-effect waves-light red" type="submit" name="action">STORE
      <i class="material-icons right">send</i>
    </button>
    
  </div>
</div>
