/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'materialize';

@import url('https://fonts.googleapis.com/css?family=Abel|Bungee|Special+Elite');

body{
	margin:0;
font-family: 'Abel', sans-serif;
}


header{
	width:100%;
	border-bottom: 1px solid #000;
	height:60px;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 2px 2px #000;
	position: fixed;
	z-index: 1000;

	.navbar-inner{
		max-width: 95%;
		margin: 0 auto;
		
		#logo{
		font-family: 'Bungee', cursive;
		font-size: 40px;
		width: 30%;
		float: left;
		padding-top: 5px;

			a{
				text-decoration: none;
				color: #d00;
				text-shadow: 3px 3px 0 #666;
				position:relative;
			}
			a:hover{
				text-shadow: none;
				left: 3px;
				top:3px;
				font-weight: bolder;
			}

		}

		nav{
			width:70%;
			float: right;
			a{
				text-decoration: none;
				color:#fff;
				text-shadow: 2px 2px 2px #000;
				font-weight: bolder;
				position:relative;
			}
			a:hover{
				font-weight: thin;
				text-shadow: none;
				left: 2px;
				top:2px;
			}

			ul{
				padding:0;
				margin:0;
				float: right;

				li{
					display: inline-block;
					padding:15px 5px;
				}
			}
		}
	}
}

.fullwidth{
	width:100%;
}

.container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.relative{
	position: relative;
}

.center-block{
	float: none;
}

img.lp-front-img{
	width:100%;
	filter: grayscale(100%);
}

.motivation{
	text-align: center;
	position: absolute;
	top:200px;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
	background-image: linear-gradient(rgba(191,26,16,.75),rgba(191,26,16,.75));


	h4{
	font-family: 'Special Elite', cursive;
	font-size: 65px;
	margin-bottom: 0px;
	}

	p{
		font-family: 'Abel', sans-serif;
		font-size:55px;
		margin-top: 0px;
		font-weight: lighter;
	}
}

#session{
	padding-top:80px;
	width:60%;
	margin-left: auto;
	margin-bottom:200px;
}

footer{
	width:100%;
	height:60px;
	background-color: rgba(0,0,0,1);
	z-index: 1000;
	
	p{
		margin:0;
		padding:15px;

		a{
			color: #fff;
		}

		a:hover{
			color: #fff;
			font-weight: bolder;
		}
	}
}