$font-robo:		Roboto;
$boxed-red: 	#F44336;
$teal-op:			rgba(40,180,180, 0.2);
$teal:				rgb(40, 180, 180);
$orange-op:		rgba(255,170,0, 0.2);
$orange:			rgb(255,170,0);
$red: 				#D50000;
$red-op:			rgba($red, 1);

