$font-robo:				Roboto;
$boxed-red: #F44336;



// HOME PAGE
#para2{
	height:60vh;

	#middle-section{
		background-color:rgba(244,67,54, 0.8);
		position:relative;
		top:5vh;
		height:10vh;
	}
	#exp{
		background-color:rgba(244,67,54, 0.8);
		position:relative;
		top:5vh;
		height: 35vh;
	}
	.sep-x{
		position:relative;
		top:40px;
	}
}
#para3{
	#up{
		position:relative;
		top:25vh;
		z-index:500;
	}
}

#lp-front{
	top:60px;
}

.top-sep{
	padding-top:70px;
}

// STATIC PAGES INFORMATION 

#info{
	background-size: cover;

  #info-nav{
  	background-color: rgba(255,255,255,0);

  }

  h5{
  	font: light 25px/1.4 $font-robo;
  }
}

.info1{
	background: url("/images/info.jpg") center center no-repeat;
}

.book1{
	background: url("/images/book.jpg") center center no-repeat;
}

.trainc1{
	background: url("/images/trainc.jpg") center center no-repeat;
}
.tracker{
	background: url("/images/tracker.jpg") center center no-repeat;	
}
.generic{
	background: url("/images/generic.jpg") center center no-repeat;	
}


// DEVISE CUSTOM 

.dev-view{
	background: url("/images/push.jpg") center center no-repeat;	
}

#form-info{
	.form-imp{

		margin:0;
	}
}
#info, #edit-scroll{
	.collection{
		margin: 0rem 0 1rem 0;
		.collection-item{
			height:115px;
			font-family: $font-robo;
			color: #424242 !important;
			font-weight: 300;
			font-size: 15px;
			label{
				color: #424242 !important;
				font-size: 15px;
			}
		}
	}
	table{
		background-color:#fff;
	}
}
#info{
	.row{
		margin:0;
	}
}

.form-bckg{
	background-color: rgba(0,0,0,0.2);
	
	label{
		color: #fff;
		font-weight: bolder;
	}
	.field input{
		color:#fff;
		font-size: 22px; 
	}
}
.btn-center{
	margin:10px;
}