#lp-front{
	top:60px;
}

.top-sep{
	padding-top:70px;
}

// HOME PAGE



// STATIC PAGES INFORMATION 

#info{
	background: url("/images/03.jpg") center center no-repeat;
	background-size: cover;

  // -webkit-filter: grayscale(50%);
  // -moz-filter: grayscale(50%);
  // -o-filter: grayscale(50%);
  // -ms-filter: grayscale(50%);
  // filter: grayscale(50%);
  #info-nav{
  	background-color: rgba(255,255,255,0);

  }
  h5{
  	font: light 25px/1.4 Open Sans;
  }
}



// DEVISE CUSTOM 

.dev-view{
	background: url("/images/02.jpg") center center no-repeat;
	background-size:cover;

	-webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
  height: 100vh;
}

#form-info{
	.form-imp{

		margin:0;
	}
}
#info, #edit-scroll{
	.collection{
		margin: 0rem 0 1rem 0;
		.collection-item{
			height:115px;
			font-family: Open Sans;
			color: #424242 !important;
			font-weight: 300;
			font-size: 15px;
			label{
				color: #424242 !important;
				font-size: 15px;
			}
		}
	}
	table{
		background-color:#fff;
	}
}
#info{
	.row{
		margin:0;
	}
}

.form-bckg{
	background-color: rgba(0,0,0,0.2);
	
	label{
		color: #fff;
		font-weight: bolder;
	}
	.field input{
		color:#fff;
		font-size: 22px; 
	}
}