#lp-front{
	top:60px;
}

#info{
	background: url("/images/03.jpg") center center no-repeat;
	background-size: cover;

  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
}