// Place all the styles related to the Trainclasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trainclass{
	padding-top:70px;
}

table{
	width:80%;
	margin:auto;
}

footer{
	li{
		display: inline-block;
		padding-left:50px;
		padding-top:15px;

		a{
			text-decoration: none;
			color:#fff;
			text-shadow: 2px 2px 2px #999;
			font-weight: bolder;
			position:relative;
		}
		a:hover{
			font-weight: thin;
			text-shadow: none;
			left: 2px;
			top:2px;
		}
	}
}