// Place all the styles related to the Trainclasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trainclass{
	background: url("/images/Post-Header-Image.jpg") center center no-repeat;
	background-size:cover;
	padding-top:70px;
	color:#fff;
}

.back{
	background-size:cover;
	padding-top:70px;
}

#usr-nm{
	color:#fff;
}

table{
	width:80%;
	margin:auto;
}

footer{
	li{
		display: inline-block;
		padding-left:50px;
		padding-top:15px;

		a{
			text-decoration: none;
			color:#fff;
			text-shadow: 2px 2px 2px #999;
			font-weight: bolder;
			position:relative;
		}
		a:hover{
			font-weight: thin;
			text-shadow: none;
			left: 2px;
			top:2px;
		}
	}
}

#form-info, #edit_user{
	padding:25px;
	background-color: rgba(190,190,190, 0.5)
}