<section class="fullwidth trainclass">
  <div class="container">

	<h1>Editing Trainclass</h1>

	<%= render 'form', trainclass: @trainclass %>

	<%= link_to 'Show', @trainclass %> |
	<%= link_to 'Back', trainclasses_path %>

	</div>
</section>