<section class="fullwidth trainclass generic">
  <div class="container">
	
	<h1>New Trainclass</h1>

	<%= render 'form', trainclass: @trainclass %>

	<b><%= link_to '<<', trainclasses_path, class: "btn-floating btn-large waves-effect waves-light red right" %></b>

	</div>
</section>